USE [master]
GO
/****** Object:  Database [CollegeLeaveSystem] ******/
CREATE DATABASE [CollegeLeaveSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CollegeLeaveSystem', FILENAME = N'CollegeLeaveSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CollegeLeaveSystem_log', FILENAME = N'CollegeLeaveSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CollegeLeaveSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CollegeLeaveSystem]
GO
/****** Object:  Table [dbo].[class] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [varchar](100) NOT NULL,
	[dept_id] [int] NOT NULL,
	[class_teacher_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[dept_id] [int] IDENTITY(1,1) NOT NULL,
	[dept_name] [varchar](100) NOT NULL,
	[create_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[leave_log] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leave_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[leave_id] [int] NOT NULL,
	[action] [varchar](50) NOT NULL,
	[operator_id] [int] NOT NULL,
	[old_status] [varchar](50) NULL,
	[new_status] [varchar](50) NULL,
	[comment] [text] NULL,
	[create_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[leave_request] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leave_request](
	[leave_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
	[dept_id] [int] NOT NULL,
	[leave_type] [varchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[leave_days] [int] NOT NULL,
	[reason] [text] NOT NULL,
	[status] [varchar](20) NULL,
	[approver_id] [int] NULL,
	[approve_time] [datetime] NULL,
	[approve_comment] [text] NULL,
	[create_time] [datetime] NULL,
	[update_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[leave_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](128) NOT NULL,
	[real_name] [varchar](50) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[class_id] [int] NULL,
	[dept_id] [int] NULL,
	[phone] [varchar](20) NULL,
	[create_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[department] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[leave_log] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[leave_request] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[leave_request] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[leave_request] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[class]  WITH CHECK ADD FOREIGN KEY([dept_id])
REFERENCES [dbo].[department] ([dept_id])
GO
ALTER TABLE [dbo].[leave_log]  WITH CHECK ADD FOREIGN KEY([leave_id])
REFERENCES [dbo].[leave_request] ([leave_id])
GO
ALTER TABLE [dbo].[leave_log]  WITH CHECK ADD FOREIGN KEY([operator_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[leave_request]  WITH CHECK ADD FOREIGN KEY([approver_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[leave_request]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[class] ([class_id])
GO
ALTER TABLE [dbo].[leave_request]  WITH CHECK ADD FOREIGN KEY([dept_id])
REFERENCES [dbo].[department] ([dept_id])
GO
ALTER TABLE [dbo].[leave_request]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[class] ([class_id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([dept_id])
REFERENCES [dbo].[department] ([dept_id])
GO
USE [master]
GO
